
<div class="row justify-content-center">
    <div class="col-md-4">
        <h1 class="text-danger">Hooooray!</h1>

        <p class="text-center">Successfuly added A Hero.</p>

        <a class="text-center btn btn-danger" href="/categories/$squad.getId()">View Squads</a>
    </div> </div>